.header-background {
  background-color: pink;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.station-button {
  height: 25px;
  width: 200px;
  display: inline-block;
  background-color: yellow;
  border-radius: 10px;
  margin-right: 10px;
  /* font-size: 3em; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.station-button-selected {
  height: 30px;
  width: 200px;
  display: inline-block;
  background-color: rgb(30, 65, 47);
  border-radius: 10px 10px 0 0;
  border: 1px solid white;
  border-bottom:none;
  margin-right: 10px;
  /* font-size: 3em; */
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
