.main-screen {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.orders-wrapper {
  width: 100%;
  background-color: aqua;
  display: flex;
}

.open-orders-wrapper {
  display: inline-block;
  height: calc(100vh - 30px);
  background-color: var(--one);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;

  padding-top: 5px;
}

.timeup-orders-wrapper {
  height: calc(100vh - 30px);
  background-color: var(--one);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 35px;
}

.ready-closed-sidebar {
  height: calc(100vh - 30px);
  background-color: var(--four);
  width: 100px;
  border-left: 2px solid black;
  overflow: hidden;
}
.closed-orders-sidebar {
  border-top: 2px solid black;
}

.single-order-ready {
  background-color: lightblue;
  padding: 0.4em;
  border-radius: 20px;
  margin: 5px;
  height: 120px;
  width: 90px;
}

.ready-button {
  width: 100%;
  height: 3em;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
}

.ingredients-wrapper {
  padding-left: 10px;
}

.single-order {
  background-color: bisque;
  padding: 0.4em;
  border-radius: 20px;
  margin: 2px;
  width: 180px;
}

.single-order-timeUp {
  background-color: bisque;
  padding: 0.4em;
  border-radius: 20px;
  margin: 2px;
  width: 180px;
}

.item {
  background-color: blue;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-highlight {
  background-color: orange;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.not-selected {
  border: 1px solid black;
  color: red;
  padding: 3px;
}

.added {
  border: 1px solid black;
  color: brown;
  padding: 3px;
}

.single-order-pending {
  background-color: bisque;
  display: inline-block;
  padding: 0.4em;
  border-radius: 20px;
  margin: 5px;
  width: 180px;
  position: absolute;
}

.closed-orders-heading {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.7em 0 0 0;
}

.ready-orders-heading {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0.7em 0 0 0;
}

.ready-list {
  min-height: 117px;
}

.single-order-closed {
  background-color: var(--one);
  color: var(--four);
  padding: 0.4em;
  border-radius: 5px;
  margin: 5px;
  font-size: 0.8em;
  box-shadow: 2px 2px 2px var(--one);
}

.single-order-header {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.order-timer {
  font-size: 1.6em;
  text-align: center;
  padding: 5px;
}

.order-table {
  font-size: 0.75em;
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  left: 18px;
  top: 17px;
  border: 0.5px solid black;
}

.dot-time-up {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;

  border: 0.5px solid black;
}
