.main-screen {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.orders-wrapper {
  width: 100%;
  background-color: aqua;
  display: flex;
}

.open-orders-wrapper {
  display: inline-block;
  height: calc(100vh - 30px);
  background-color: rgb(30, 65, 47);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;
}

.timeup-orders-wrapper {
  height: calc(100vh - 30px);
  background-color: beige;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.ready-orders-wrapper {
  height: calc(100vh - 30px);
  background-color: aquamarine;
  /* display: flex;
  align-items: flex-start;
  justify-content: flex-end; */
  /* flex-wrap: wrap; */
  width: 100px;
}

.single-order-ready {
  background-color: lightblue;
  padding: 0.4em;
  border-radius: 20px;
  margin: 5px;
  /* width: 100px; */
  /* height:50px; */
}

.ready-button {
  width: 100%;
  height: 3em;
  border-radius: 20px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
}

.single-order {
  background-color: bisque;
  padding: 0.4em;
  border-radius: 20px;
  margin: 5px;
  width: 180px;
}

.item {
  background-color: blue;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-highlight {
  background-color: orange;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.not-selected {
  border: 1px solid black;
  color: red;
  padding: 3px;
  /* padding-top: .5em; */
}

.added {
  border: 1px solid black;
  color: brown;
  padding: 3px;
  /* padding-top: .5em; */
}

.test {
  position: absolute;
  color: white;
  background-color: blue;
}

.single-order-test {
  background-color: bisque;
  display: inline-block;
  padding: 0.4em;
  border-radius: 20px;
  margin: 5px;
  width: 180px;
  position: absolute;
}
